body {
	background-image: url(../assets/home/background-home-desktop.jpg);
	display: grid;
	grid-template-rows: auto 1fr;
}

main {
	width: 75%;
    margin-inline: auto;
    display: grid;
    place-items: center;
	padding-block: var(--pdg-main-block);
}

article {
	display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    justify-items: end;
	gap: var(--gap-article);
}

.intro {
	display: grid;
	gap: 1.5rem;
}

.mobile {
	display: none;
}

button.explore {
	width: var(--btn-explore-width);
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--clr-white);
	transition: box-shadow 200ms ease-in-out;
}

button.explore:hover {
	box-shadow: 0 0 0 var(--btn-explore-shadow-offset) rgb(255 255 255 / .25);
}


@media (max-width: 1048px) {
	:root {
		--pdg-nav-block: 2rem;
		--pdg-main-block: 6.625rem;
		--gap-article: 9.75rem;
		--btn-explore-width: 242px;
		--btn-explore-shadow-offset: 4rem;
	}
	body {
		background-image: url(../assets/home/background-home-tablet.jpg);
	}
	nav {
		padding-block: 0;
	}
	.hr {
		display: none;
	}
	article {
		grid-template-columns: auto;
		justify-items: center;
		height: 100%;
		align-content: space-around;
	}
	ul.navigation > li::before {
		display: none;
	}
	.intro {
		justify-items: center;
	}
	p {
		text-align: center;
	}
}

@media (max-width: 650px) {
	:root {
		--fs-heading-1: 5rem;
		--fs-heading-5: 1rem;
		--fs-body-text: 15px;
		--fs-heading-4: 1.25rem;
		--pdg-nav-block: 1.5rem;
		--pdg-main-block: 3rem;
		--gap-article: 5rem;
		--btn-explore-width: 150px;
		--btn-explore-shadow-offset: 2rem;
	}
	body {
		background-image: url(../assets/home/background-home-mobile.jpg);
	}
	nav {
		padding-inline: var(--pdg-nav-block);
		padding-block: var(--pdg-nav-block);
	}
	ul.navigation {
		display: none;
		flex-direction: column;
		position: absolute;
		inset: 0;
		left: auto;
		gap: 2rem;
		padding-block: 2.25rem;
		translate: 100% 0;
		transition: translate 550ms ease-in-out;
	}
	ul.navigation[closing] {
		animation: nav-close 350ms ease-in-out forwards;
	}
	ul.navigation[opening] {
		animation: nav-open 350ms ease-in-out forwards;
	}
	ul.navigation.opened {
		translate: 0 0;
	}
	.nav-slider .nav-text {
		padding: .5rem;
	}
	.nav-slider .nav-text::before {
		display: block;
	}
	.btn-close {
		float: right;
	}
	.mobile {
		display: block;
	}
}

@keyframes nav-open {
	from {
		translate: 100% 0;
	}
	to {
		translate: 0;
	}
}


@keyframes nav-close {
	from {
		translate: 0;
	}
	to {
		translate: 100% 0;
	}
}